@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  color: white;
}


#button{

  transition: all 0.5s;
  position: relative;
  bottom: 0;
  color: rgb(59 130 246);
  border-color: rgb(59 130 246);

}

#button:hover{
  bottom: 14px;
  transform: scale(0.9);
}

.fade_left{
  transform: translatex(50%);
  animation-name: fade_left;
  animation-duration: 2s;
  width: 50%;
  line-height: 2;
}

.hero_fade_left{
  transform: translatex(00%);
  animation-name: hero_fade_left;
  animation-duration: 2s;
}

.hero_fade_right{
  transform: translatex(00%);
  animation-name: hero_fade_right;
  animation-duration: 2s;
}

@keyframes hero_fade_left{
  from {transform: translateX(-50%);}
  to {transform: translateX(0%);}

}

@keyframes hero_fade_right{
  from {transform: translateX(50%);}
  to {transform: translateX(0%);}
}

@keyframes fade_left{
  from {transform: translateX(0);}
  to {transform: translateX(50%);}
}

